/*
 * Aplica estilo a la barra de login
 */
@include extjs-toolbar-ui(
	$ui: 'main',
	$background-color: $base-color
);

@include extjs-toolbar-ui(
	$ui: 'newversion',
	$background-color: $body-color
);

.x-toolbar-newversion {
	label {
		color: #1B1112;
	}
}
