@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,700italic,700,500italic,500,400italic);

$base-color: #1ABC9C;
$font-family: 'Roboto', sans-serif;

// Spinner
body {
	margin: 0;
}
#spinner {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999999;
	position: absolute;
	background-color: $base-color;
}
.sk-folding-cube {
  top: 50%;
  margin: -20px auto 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

// Badge Plugin for Tabs
.x-badge {
    position: relative;
    overflow: visible;
}

.x-badge[data-badge-text]:after {
    content: attr(data-badge-text);
    position: absolute;
    font-size: 10px;
    top: -6px;
    right: 2px;
    width: auto;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    background-image: none;
    background-color: #C00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(3%, #e60000), color-stop(100%, #b30000));
    background-image: -webkit-linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
    background-image: linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
}

.x-badge.green-badge[data-badge-text]:after {
    background-color: #0C0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1AFF1A), color-stop(3%, #00E600), color-stop(100%, #00B300));
    background-image: -webkit-linear-gradient(top, #1AFF1A,#00E600 3%,#00B300);
    background-image: linear-gradient(top, #1AFF1A,#00E600 3%,#00B300);
}

.x-badge.blue-badge[data-badge-text]:after {
    background-color: #00C;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1A1AFF), color-stop(3%, #0000E6), color-stop(100%, #0000B3));
    background-image: -webkit-linear-gradient(top, #1A1AFF,#0000E6 3%,#0000B3);
    background-image: linear-gradient(top, #1A1AFF,#0000E6 3%,#0000B3);
}

/* Additional classes needed for tab panels */
.allow-overflow .x-box-layout-ct, .allow-overflow .x-box-inner, .allow-overflow .x-box-item {
    overflow: visible;
}

.x-tab-closable.x-badge[data-badge-text]:after {
    right: 16px;
}

// Allow Glyphs in Action Columns
.x-action-col-glyph {font-size:20px; line-height:20px; color:#000; width:20px; margin: 0 5px;}
.x-action-col-glyph:hover{color:$base-color}
.x-grid-item-over .x-hidden-display, .x-grid-item-selected .x-hidden-display{display:inline-block !important}
.x-grid-cell-inner {
	height: 44px;
	line-height: 32px !important;
	&.x-grid-cell-inner-action-col {
		line-height: 44px !important;
	}
}
.x-tab-icon-el-default { background-size: 24px; }

.service {
	width:250px;
	display:inline-block;
	padding:10px;
	cursor:pointer;
	img {
		float: left;
	}
	span {
		margin-left:10px;
		line-height:48px;
	}
}
