// Elements wrapped by a resizer must be sized using border box sizing
.#{$prefix}resizable-wrapped {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}