.#{$prefix}splitter {
    font-size:1px;
}

.#{$prefix}splitter-horizontal {
    cursor: e-resize;
    cursor: row-resize;
}

.#{$prefix}splitter-vertical {
    cursor: e-resize;
    cursor: col-resize;
}

.#{$prefix}splitter-collapsed,
.#{$prefix}splitter-horizontal-noresize,
.#{$prefix}splitter-vertical-noresize {
    cursor: default;
}

.#{$prefix}splitter-active {
    z-index: 4;
}

.#{$prefix}collapse-el {
    position: absolute;
    background-repeat: no-repeat;
}

.#{$prefix}splitter-focus {
    // Must float above following absolutely positioned components
    z-index: 4;
}