//box wrap - Ext.get("foo").boxWrap();
.#{$prefix}box-tl {
    background: transparent no-repeat 0 0;
}

.#{$prefix}box-tc {
    height: 8px;
    background: transparent repeat-x 0 0;
    overflow: hidden;
}

.#{$prefix}box-tr {
    background: transparent no-repeat right -8px;
}

.#{$prefix}box-ml {
    background: transparent repeat-y 0;
    padding-left: 4px;
    overflow: hidden;
}

.#{$prefix}box-mc {
    background: repeat-x 0 -16px;
    padding: 4px 10px;
}

.#{$prefix}box-mc h3 {
    margin: 0 0 4px 0;
}

.#{$prefix}box-mr {
    background: transparent repeat-y right;
    padding-right: 4px;
    overflow: hidden;
}

.#{$prefix}box-bl {
    background: transparent no-repeat 0 -16px;
}

.#{$prefix}box-bc {
    background: transparent repeat-x 0 -8px;
    height: 8px;
    overflow: hidden;
}

.#{$prefix}box-br {
    background: transparent no-repeat right -24px;
}

.#{$prefix}box-tl, .#{$prefix}box-bl {
    padding-left: 8px;
    overflow: hidden;
}

.#{$prefix}box-tr, .#{$prefix}box-br {
    padding-right: 8px;
    overflow: hidden;
}

.#{$prefix}box-tl {
    background-image: theme-background-image('box/corners');
}

.#{$prefix}box-tc {
    background-image: theme-background-image('box/tb');
}

.#{$prefix}box-tr {
    background-image: theme-background-image('box/corners');
}

.#{$prefix}box-ml {
    background-image: theme-background-image('box/l');
}

.#{$prefix}box-mc {
    background-color: #eee;
    background-image: theme-background-image('box/tb');
    font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
    color: #393939;
    font-size: 15px;
}

.#{$prefix}box-mc h3 {
    font-size: 18px;
    font-weight: bold;
}

.#{$prefix}box-mr {
    background-image: theme-background-image('box/r');
}

.#{$prefix}box-bl {
    background-image: theme-background-image('box/corners');
}

.#{$prefix}box-bc {
    background-image: theme-background-image('box/tb');
}

.#{$prefix}box-br {
    background-image: theme-background-image('box/corners');
}

.#{$prefix}box-blue .#{$prefix}box-bl, .#{$prefix}box-blue .#{$prefix}box-br, .#{$prefix}box-blue .#{$prefix}box-tl, .#{$prefix}box-blue .#{$prefix}box-tr {
    background-image: theme-background-image('box/corners-blue');
}

.#{$prefix}box-blue .#{$prefix}box-bc, .#{$prefix}box-blue .#{$prefix}box-mc, .#{$prefix}box-blue .#{$prefix}box-tc {
    background-image: theme-background-image('box/tb-blue');
}

.#{$prefix}box-blue .#{$prefix}box-mc {
    background-color: #c3daf9;
}

.#{$prefix}box-blue .#{$prefix}box-mc h3 {
    color: #17385b;
}

.#{$prefix}box-blue .#{$prefix}box-ml {
    background-image: theme-background-image('box/l-blue');
}

.#{$prefix}box-blue .#{$prefix}box-mr {
    background-image: theme-background-image('box/r-blue');
}
