//$tab-base-color: #FFF;
$tab-base-color-active: #FFF;
$tab-icon-width: 24px;
$tab-icon-height: 24px;
$tab-padding: 13px;
$tab-border-width: 0px;
$tab-border-width-active: 0px;
$tab-border-width-focus: 0px;
$tab-border-width-focus-over: 0px;
$tab-inner-border-width: 0px;
$tab-inner-border-width-active: 0px;
$tab-inner-border-width-focus: 0px;
$tab-inner-border-width-focus-active: 0px;
$tab-inner-border-width-focus-over: 0px;
$tab-border-radius: 4px 4px 0 0;
$tab-color: $base-color;
$tab-color-active: #000;
$tab-font-size: 18px;
