
$button-toolbar-inner-border-color: none;
$button-toolbar-inner-border-color-focus: none;
$button-toolbar-inner-border-color-focus-over: none;
$button-toolbar-inner-border-color-focus-pressed: none;
