/** @class Ext.grid.property.Grid */
//

$grid-property-cell-background-image: 'grid/property-cell-bg' !default;
$grid-property-cell-background-position: -16px 2px !default;
$grid-property-cell-before-padding: 12px !default;