.#{$prefix}html-editor-tb .#{$prefix}toolbar {
    position: static !important;
}

.#{$prefix}htmleditor-iframe,
.#{$prefix}htmleditor-textarea {
    // display:block prevents extra whitespace from showing under the iframe
    display: block;
    overflow:auto;
    width: 100%;
    height: 100%;
    border: 0;
}
