.#{$prefix}form-textarea {
    overflow: auto;
    resize: none; //Disable browser resizable textarea

    // override min-height set by extjs-text-field mixin
    div.#{$prefix}form-text-grow & {
        min-height: inherit;
    }
}


