/**
 * @class Ext.LoadMask
 */

/**
 * @var {number}
 * Opacity of the LoadMask
 */
$loadmask-opacity: 0.5 !default;

/**
 * @var {color}
 * The background-color of the LoadMask
 */
$loadmask-background-color: #ccc !default;

/**
 * @var {string}
 * The type of cursor to dislay when the cursor is over the LoadMask
 */
$loadmask-cursor: default !default;

/**
 * @var {string}
 * The border-style of the LoadMask focus border
 */
$loadmask-border-style-focus: solid !default;

/**
 * @var {string}
 * The border-color of the LoadMask focus border
 */
$loadmask-border-color-focus: $base-color !default;

/**
 * @var {string}
 * The border-width of the LoadMask focus border
 */
$loadmask-border-width-focus: 1px !default;

/**
 * @var {number/list}
 * The padding to apply to the LoadMask's message element
 */
$loadmask-msg-padding: 2px !default;

/**
 * @var {string}
 * The border-style of the LoadMask's message element
 */
$loadmask-msg-border-style: solid !default;

/**
 * @var {color}
 * The border-color of the LoadMask's message element
 */
$loadmask-msg-border-color: $base-color !default;

/**
 * @var {number}
 * The border-width of the LoadMask's message element
 */
$loadmask-msg-border-width: 1px !default;

/**
 * @var {color}
 * The background-color of the LoadMask's message element
 */
$loadmask-msg-background-color: $base-color !default;

/**
 * @var {string/list}
 * The background-gradient of the LoadMask's message element. Can be either the name
 * of a predefined gradient or a list of color stops. Used as the `$type` parameter for
 * {@link Global_CSS#background-gradient}.
 */
$loadmask-msg-background-gradient: 'none' !default;

/**
 * @var {number/list}
 * The padding of the message inner element
 */
$loadmask-msg-inner-padding: 0 5px !default;

/**
 * @var {string}
 * The icon to display in the message inner element
 */
$loadmask-msg-inner-icon: 'loadmask/loading' !default;

/**
 * @var {list}
 * The background-position of the icon
 */
$loadmask-msg-inner-icon-position: 0 center !default;

/**
 * @var {string}
 * The border-style of the message inner element
 */
$loadmask-msg-inner-border-style: solid !default;

/**
 * @var {color}
 * The border-color of the message inner element
 */
$loadmask-msg-inner-border-color: $base-color !default;

/**
 * @var {number}
 * The border-width of the message inner element
 */
$loadmask-msg-inner-border-width: 1px !default;

/**
 * @var {color}
 * The background-color of the message inner element
 */
$loadmask-msg-inner-background-color: #eee !default;

/**
 * @var {color}
 * The text color of the message inner element
 */
$loadmask-msg-inner-color: #222 !default;

/**
 * @var {number}
 * The font-size of the message inner element
 */
$loadmask-msg-inner-font-size: $font-size !default;

/**
 * @var {string}
 * The font-weight of the message inner element
 */
$loadmask-msg-inner-font-weight: $font-weight !default;

/**
 * @var {string}
 * The font-family of the message inner element
 */
$loadmask-msg-inner-font-family: $font-family !default;

// private
$loadmask-msg-inner-font: $loadmask-msg-inner-font-weight $loadmask-msg-inner-font-size $loadmask-msg-inner-font-family !default;

/**
 * @var {number/list}
 * The padding of the message element
 */
$loadmask-msg-text-padding: 5px 5px 5px 20px !default;

/**
 * @var {number}
 * The border-radius of the message element
 */
$loadmask-msg-border-radius: 0 !default;