.#{$prefix}dashboard-column {
    padding: 0 0 $ext-dashboard-column-padding 0;
}

.#{$prefix}dashboard-panel {
    margin-top: $ext-dashboard-column-padding;
}

.#{$prefix}dashboard-column-first {
    padding-left: $ext-dashboard-column-padding;
    clear : left;
}

.#{$prefix}dashboard-column-last {
    padding-right: $ext-dashboard-column-padding;
}

.#{$prefix}dashboard .#{$prefix}panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: $ext-dashboard-column-padding;
}

// Prevent the panel drag operations from causing overflow as that breaks the layout
// and we don't want to perform layouts during the drag.
.#{$prefix}dashboard-dd-over {
    overflow: hidden !important;
}
