/** @class Ext.container.ButtonGroup */
//

$btn-group-background-color: #f0f0f0 !default;
$btn-group-header-background-color: #dfdfdf !default;
$btn-group-border-color: #d0d0d0 !default;
$btn-group-header-color: #666 !default;
$btn-group-inner-border-color: #ececec !default;