.#{$prefix}grid-rowbody {
    font: $grid-row-body-font;
    padding: $grid-row-body-padding;

    @if $grid-no-row-lines-show-focus-border {
        .#{$prefix}grid-no-row-lines .#{$prefix}grid-row-focused & {
            padding-top: top($grid-row-body-padding) + $grid-row-cell-border-width;
            padding-bottom: bottom($grid-row-body-padding) - $grid-row-cell-border-width;
        }
    }
}

