/** @class Ext.form.field.Base */
//

$form-field-padding: 4px 6px 3px !default;

$form-field-height: 24px !default;

// private
$form-field-border-accent-color: mix(#fff, $neutral-medium-dark-color, 40%);

$form-field-border-color: $neutral-medium-dark-color $form-field-border-accent-color $form-field-border-accent-color !default;
$form-field-border-width: 1px !default;
$form-field-invalid-border-color: $error-color !default;
$form-field-focus-border-color: mix(#fff, #157fcc, 15%) !default;
$form-field-background-image: 'none' !default;
$form-field-invalid-background-image: 'none' !default;
