.#{$prefix}scroll-indicator {
    position: absolute;
    background-color: $scroll-indicator-background-color;
    // don't use the opacity() mixin here because we don't need old IE stuff for touch devices
    opacity: $scroll-indicator-opacity;
    border-radius: $scroll-indicator-border-radius;
    margin: $scroll-indicator-margin;
}

.#{$prefix}scroll-indicator-x {
    bottom: 0;
    left: 0;
    height: $scroll-indicator-size;
}

.#{$prefix}scroll-indicator-y {
    right: 0;
    top: 0;
    width: $scroll-indicator-size;
}

@if $include-rtl {
    .#{$prefix}rtl.#{$prefix}scroll-indicator-x {
        left: auto;
        right: 0;
    }

    .#{$prefix}rtl.#{$prefix}scroll-indicator-y {
        right: auto;
        left: 0;
    }
}