@if $include-ext-toolbar-toolbar {
    @if $include-button-default-toolbar-small-ui {
        @include extjs-button-toolbar-small-ui(
            $ui: 'plain',

            $border-color: transparent,
            $border-color-over: $button-toolbar-border-color-over,
            $border-color-focus: transparent,
            $border-color-pressed: $button-toolbar-border-color-pressed,
            $border-color-focus-over: $button-toolbar-border-color-focus-over,
            $border-color-focus-pressed: $button-toolbar-border-color-focus-pressed,
            $border-color-disabled: transparent,

            $background-color: transparent,
            $background-color-over: $button-toolbar-background-color-over,
            $background-color-focus: transparent,
            $background-color-pressed: $button-toolbar-background-color-pressed,
            $background-color-focus-over: $button-toolbar-background-color-focus-over,
            $background-color-focus-pressed: $button-toolbar-background-color-focus-pressed,
            $background-color-disabled: transparent,

            $color: $button-toolbar-color,
            $color-over: $button-toolbar-color-over,
            $color-focus: $button-toolbar-color-focus,
            $color-pressed: $button-toolbar-color-pressed,
            $color-focus-over: $button-toolbar-color-focus-over,
            $color-focus-pressed: $button-toolbar-color-focus-pressed,
            $color-disabled: $button-toolbar-color-disabled,

            $inner-border-width: $button-toolbar-inner-border-width,
            $inner-border-width-over: $button-toolbar-inner-border-width-over,
            $inner-border-width-focus: $button-toolbar-inner-border-width-focus,
            $inner-border-width-pressed: $button-toolbar-inner-border-width-pressed,
            $inner-border-width-focus-over: $button-toolbar-inner-border-width-focus-over,
            $inner-border-width-focus-pressed: $button-toolbar-inner-border-width-focus-pressed,
            $inner-border-width-disabled: $button-toolbar-inner-border-width-disabled,

            $inner-border-color: $button-toolbar-inner-border-color,
            $inner-border-color-over: $button-toolbar-inner-border-color-over,
            $inner-border-color-focus: $button-toolbar-inner-border-color-focus,
            $inner-border-color-pressed: $button-toolbar-inner-border-color-pressed,
            $inner-border-color-focus-over: $button-toolbar-inner-border-color-focus-over,
            $inner-border-color-focus-pressed: $button-toolbar-inner-border-color-focus-pressed,
            $inner-border-color-disabled: $button-toolbar-inner-border-color-disabled,

            $font-size: $button-small-font-size,
            $font-size-over: $button-small-font-size-over,
            $font-size-focus: $button-small-font-size-focus,
            $font-size-pressed: $button-small-font-size-pressed,
            $font-size-focus-over: $button-small-font-size-focus-over,
            $font-size-focus-pressed: $button-small-font-size-focus-pressed,
            $font-size-disabled: $button-small-font-size-disabled,

            $font-weight: $button-small-font-weight,
            $font-weight-over: $button-small-font-weight-over,
            $font-weight-focus: $button-small-font-weight-focus,
            $font-weight-pressed: $button-small-font-weight-pressed,
            $font-weight-focus-over: $button-small-font-weight-focus-over,
            $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
            $font-weight-disabled: $button-small-font-weight-disabled,

            $font-family: $button-small-font-family,
            $font-family-over: $button-small-font-family-over,
            $font-family-focus: $button-small-font-family-focus,
            $font-family-pressed: $button-small-font-family-pressed,
            $font-family-focus-over: $button-small-font-family-focus-over,
            $font-family-focus-pressed: $button-small-font-family-focus-pressed,
            $font-family-disabled: $button-small-font-family-disabled
        );
    }

    @if $include-button-default-toolbar-medium-ui {
        @include extjs-button-toolbar-medium-ui(
            $ui: 'plain',

            $border-color: transparent,
            $border-color-over: $button-toolbar-border-color-over,
            $border-color-focus: transparent,
            $border-color-pressed: $button-toolbar-border-color-pressed,
            $border-color-focus-over: $button-toolbar-border-color-focus-over,
            $border-color-focus-pressed: $button-toolbar-border-color-focus-pressed,
            $border-color-disabled: transparent,

            $background-color: transparent,
            $background-color-over: $button-toolbar-background-color-over,
            $background-color-focus: transparent,
            $background-color-pressed: $button-toolbar-background-color-pressed,
            $background-color-focus-over: $button-toolbar-background-color-focus-over,
            $background-color-focus-pressed: $button-toolbar-background-color-focus-pressed,
            $background-color-disabled: transparent,

            $color: $button-toolbar-color,
            $color-over: $button-toolbar-color-over,
            $color-focus: $button-toolbar-color-focus,
            $color-pressed: $button-toolbar-color-pressed,
            $color-focus-over: $button-toolbar-color-focus-over,
            $color-focus-pressed: $button-toolbar-color-focus-pressed,
            $color-disabled: $button-toolbar-color-disabled,

            $inner-border-width: $button-toolbar-inner-border-width,
            $inner-border-width-over: $button-toolbar-inner-border-width-over,
            $inner-border-width-focus: $button-toolbar-inner-border-width-focus,
            $inner-border-width-pressed: $button-toolbar-inner-border-width-pressed,
            $inner-border-width-focus-over: $button-toolbar-inner-border-width-focus-over,
            $inner-border-width-focus-pressed: $button-toolbar-inner-border-width-focus-pressed,
            $inner-border-width-disabled: $button-toolbar-inner-border-width-disabled,

            $inner-border-color: $button-toolbar-inner-border-color,
            $inner-border-color-over: $button-toolbar-inner-border-color-over,
            $inner-border-color-focus: $button-toolbar-inner-border-color-focus,
            $inner-border-color-pressed: $button-toolbar-inner-border-color-pressed,
            $inner-border-color-focus-over: $button-toolbar-inner-border-color-focus-over,
            $inner-border-color-focus-pressed: $button-toolbar-inner-border-color-focus-pressed,
            $inner-border-color-disabled: $button-toolbar-inner-border-color-disabled,

            $font-size: $button-medium-font-size,
            $font-size-over: $button-medium-font-size-over,
            $font-size-focus: $button-medium-font-size-focus,
            $font-size-pressed: $button-medium-font-size-pressed,
            $font-size-focus-over: $button-medium-font-size-focus-over,
            $font-size-focus-pressed: $button-medium-font-size-focus-pressed,
            $font-size-disabled: $button-medium-font-size-disabled,

            $font-weight: $button-medium-font-weight,
            $font-weight-over: $button-medium-font-weight-over,
            $font-weight-focus: $button-medium-font-weight-focus,
            $font-weight-pressed: $button-medium-font-weight-pressed,
            $font-weight-focus-over: $button-medium-font-weight-focus-over,
            $font-weight-focus-pressed: $button-medium-font-weight-focus-pressed,
            $font-weight-disabled: $button-medium-font-weight-disabled,

            $font-family: $button-medium-font-family,
            $font-family-over: $button-medium-font-family-over,
            $font-family-focus: $button-medium-font-family-focus,
            $font-family-pressed: $button-medium-font-family-pressed,
            $font-family-focus-over: $button-medium-font-family-focus-over,
            $font-family-focus-pressed: $button-medium-font-family-focus-pressed,
            $font-family-disabled: $button-medium-font-family-disabled
        );
    }

    @if $include-button-default-toolbar-large-ui {
        @include extjs-button-toolbar-large-ui(
            $ui: 'plain',

            $border-color: transparent,
            $border-color-over: $button-toolbar-border-color-over,
            $border-color-focus: transparent,
            $border-color-pressed: $button-toolbar-border-color-pressed,
            $border-color-focus-over: $button-toolbar-border-color-focus-over,
            $border-color-focus-pressed: $button-toolbar-border-color-focus-pressed,
            $border-color-disabled: transparent,

            $background-color: transparent,
            $background-color-over: $button-toolbar-background-color-over,
            $background-color-focus: transparent,
            $background-color-pressed: $button-toolbar-background-color-pressed,
            $background-color-focus-over: $button-toolbar-background-color-focus-over,
            $background-color-focus-pressed: $button-toolbar-background-color-focus-pressed,
            $background-color-disabled: transparent,

            $color: $button-toolbar-color,
            $color-over: $button-toolbar-color-over,
            $color-focus: $button-toolbar-color-focus,
            $color-pressed: $button-toolbar-color-pressed,
            $color-focus-over: $button-toolbar-color-focus-over,
            $color-focus-pressed: $button-toolbar-color-focus-pressed,
            $color-disabled: $button-toolbar-color-disabled,

            $inner-border-width: $button-toolbar-inner-border-width,
            $inner-border-width-over: $button-toolbar-inner-border-width-over,
            $inner-border-width-focus: $button-toolbar-inner-border-width-focus,
            $inner-border-width-pressed: $button-toolbar-inner-border-width-pressed,
            $inner-border-width-focus-over: $button-toolbar-inner-border-width-focus-over,
            $inner-border-width-focus-pressed: $button-toolbar-inner-border-width-focus-pressed,
            $inner-border-width-disabled: $button-toolbar-inner-border-width-disabled,

            $inner-border-color: $button-toolbar-inner-border-color,
            $inner-border-color-over: $button-toolbar-inner-border-color-over,
            $inner-border-color-focus: $button-toolbar-inner-border-color-focus,
            $inner-border-color-pressed: $button-toolbar-inner-border-color-pressed,
            $inner-border-color-focus-over: $button-toolbar-inner-border-color-focus-over,
            $inner-border-color-focus-pressed: $button-toolbar-inner-border-color-focus-pressed,
            $inner-border-color-disabled: $button-toolbar-inner-border-color-disabled,

            $font-size: $button-large-font-size,
            $font-size-over: $button-large-font-size-over,
            $font-size-focus: $button-large-font-size-focus,
            $font-size-pressed: $button-large-font-size-pressed,
            $font-size-focus-over: $button-large-font-size-focus-over,
            $font-size-focus-pressed: $button-large-font-size-focus-pressed,
            $font-size-disabled: $button-large-font-size-disabled,

            $font-weight: $button-large-font-weight,
            $font-weight-over: $button-large-font-weight-over,
            $font-weight-focus: $button-large-font-weight-focus,
            $font-weight-pressed: $button-large-font-weight-pressed,
            $font-weight-focus-over: $button-large-font-weight-focus-over,
            $font-weight-focus-pressed: $button-large-font-weight-focus-pressed,
            $font-weight-disabled: $button-large-font-weight-disabled,

            $font-family: $button-large-font-family,
            $font-family-over: $button-large-font-family-over,
            $font-family-focus: $button-large-font-family-focus,
            $font-family-pressed: $button-large-font-family-pressed,
            $font-family-focus-over: $button-large-font-family-focus-over,
            $font-family-focus-pressed: $button-large-font-family-focus-pressed,
            $font-family-disabled: $button-large-font-family-disabled
        );
    }

    // neptune buttons are given their disabled appearance using opacity. IE8 and below
    // in xp have problems rendering png icons with alpha transparency when opacity
    // is applied to the element if the element has a transparent background.  To work
    // around this we give the disabled button the same background-color as the toolbar.
    // see EXTJSIV-8846
    .#{$prefix}btn-plain-toolbar-small-disabled,
    .#{$prefix}btn-plain-toolbar-medium-disabled,
    .#{$prefix}btn-plain-toolbar-large-disabled {
        .#{$prefix}btn-icon-el {
            background-color: $toolbar-background-color;
            @if $include-ie {
                .#{$prefix}ie8 & {
                    // in IE8 position: absolute breaks inheritance of opacity,
                    // so we have to apply the opacity to the icon element.
                    // We don't do this in the button mixin because the icon el has to 
                    // have a background-color or else partially transparent pixels
                    // in the icon will not display correctly.
                    @if $button-toolbar-opacity-disabled != 1 {
                        @include opacity($button-toolbar-opacity-disabled);
                    }
                }
            }
        }
    }
    
}
