/**
 * @class Ext.toolbar.Toolbar
 */

/**
 * @var {number}
 * The default font-size of Toolbar text
 */
$toolbar-font-size: $font-size !default;

/**
 * @var {color}
 * The background-color of the Toolbar
 */
$toolbar-background-color: $base-color !default;

/**
 * @var {string/list}
 * The background-gradient of the Toolbar.  Can be either the name of a predefined gradient
 * or a list of color stops. Used as the `$type` parameter for {@link Global_CSS#background-gradient}.
 */
$toolbar-background-gradient: 'none' !default;

/**
 * @var {number}
 * The horizontal spacing of Toolbar items
 */
$toolbar-horizontal-spacing: 2px !default;

/**
 * @var {number}
 * The vertical spacing of Toolbar items
 */
$toolbar-vertical-spacing: 2px !default;

/**
 * @var {number}
 * The horizontal spacing of {@link Ext.panel.Panel#fbar footer} Toolbar items
 */
$toolbar-footer-horizontal-spacing: 6px !default;

/**
 * @var {number}
 * The vertical spacing of {@link Ext.panel.Panel#fbar footer} Toolbar items
 */
$toolbar-footer-vertical-spacing: 4px !default;

/**
 * @var {color}
 * The background-color of {@link Ext.panel.Panel#fbar footer} Toolbars
 */
$toolbar-footer-background-color: transparent !default;

/**
 * @var {number}
 * The border-width of {@link Ext.panel.Panel#fbar footer} Toolbars
 */
$toolbar-footer-border-width: 0 !default;

/**
 * @var {color}
 * The border-color of Toolbars
 */
$toolbar-border-color: $base-color !default;

/**
 * @var {number}
 * The border-width of Toolbars
 */
$toolbar-border-width: 1px !default;

/**
 * @var {string}
 * The border-style of Toolbars
 */
$toolbar-border-style: solid !default;

/**
 * @var {number}
 * The width of Toolbar {@link Ext.toolbar.Spacer Spacers}
 */
$toolbar-spacer-width: 2px !default;

/**
 * @var {color}
 * The main border-color of Toolbar {@link Ext.toolbar.Separator Separators}
 */
$toolbar-separator-color: adjust-color($base-color, $hue: -1deg, $saturation: 100%, $lightness: -4.3%) !default;

/**
 * @var {color}
 * The highlight border-color of Toolbar {@link Ext.toolbar.Separator Separators}
 */
$toolbar-separator-highlight-color: #fff !default;

/**
 * @var {number/list}
 * The margin of {@link Ext.toolbar.Separator Separators} on a horizontally oriented Toolbar
 */
$toolbar-separator-horizontal-margin: 0 $toolbar-horizontal-spacing 0 0 !default;

/**
 * @var {number}
 * The height of {@link Ext.toolbar.Separator Separators} on a horizontally oriented Toolbar
 */
$toolbar-separator-horizontal-height: 14px !default;

/**
 * @var {string}
 * The border-style of {@link Ext.toolbar.Separator Separators} on a horizontally oriented Toolbar
 */
$toolbar-separator-horizontal-border-style: solid !default;

/**
 * @var {number}
 * The border-width of {@link Ext.toolbar.Separator Separators} on a horizontally oriented Toolbar
 */
$toolbar-separator-horizontal-border-width: 0 1px !default;

/**
 * @var {number/list}
 * The margin of {@link Ext.toolbar.Separator Separators} on a vertically oriented Toolbar
 */
$toolbar-separator-vertical-margin: 0 5px $toolbar-vertical-spacing !default;

/**
 * @var {string}
 * The border-style of {@link Ext.toolbar.Separator Separators} on a vertically oriented Toolbar
 */
$toolbar-separator-vertical-border-style: solid none !default;

/**
 * @var {number}
 * The border-width of {@link Ext.toolbar.Separator Separators} on a vertically oriented Toolbar
 */
$toolbar-separator-vertical-border-width: 1px 0 !default;

/**
 * @var {string}
 * The default font-family of Toolbar text
 */
$toolbar-text-font-family: $font-family !default;

/**
 * @var {number}
 * The default font-size of Toolbar text
 */
$toolbar-text-font-size: $toolbar-font-size !default;

/**
 * @var {number}
 * The default font-size of Toolbar text
 */
$toolbar-text-font-weight: $font-weight !default;

/**
 * @var {color}
 * The text-color of Toolbar text
 */
$toolbar-text-color: mix(desaturate(lighten($base-color, 37), 5), #000, 30) !default;

/**
 * @var {number}
 * The line-height of Toolbar text
 */
$toolbar-text-line-height: 16px !default;

/**
 * @var {number/list}
 * The padding of Toolbar text
 */
$toolbar-text-padding: 0 4px !default;

/**
 * @var {number}
 * The width of Toolbar scrollers
 */
$toolbar-scroller-width: 14px !default;

/**
 * @var {number}
 * The height of Toolbar scrollers
 */
$toolbar-scroller-height: 22px !default;

/**
 * @var {number}
 * The width of scrollers on vertically aligned toolbars
 */
$toolbar-scroller-vertical-width: $toolbar-scroller-height !default;

/**
 * @var {number}
 * The height of scrollers on vertically aligned toolbars
 */
$toolbar-scroller-vertical-height: $toolbar-scroller-width !default;

/**
 * @var {color}
 * The border-color of Toolbar scroller buttons
 */
$toolbar-scroller-border-color: #8db2e3 !default;

/**
 * @var {number}
 * The border-width of Toolbar scroller buttons
 */
$toolbar-scroller-border-width: 0 0 1px !default;

/**
 * @var {color}
 * The border-color of scroller buttons on vertically aligned toolbars
 */
$toolbar-scroller-vertical-border-color: $toolbar-scroller-border-color !default;

/**
 * @var {number}
 * The border-width of scroller buttons on vertically aligned toolbars
 */
$toolbar-scroller-vertical-border-width: 0 !default;

/**
 * @var {number/list}
 * The margin of "top" Toolbar scroller buttons
 */
$toolbar-scroller-top-margin: 4px 0 !default;

/**
 * @var {number/list}
 * The margin of "right" Toolbar scroller buttons
 */
$toolbar-scroller-right-margin: 0 4px !default;

/**
 * @var {number/list}
 * The margin of "bottom" Toolbar scroller buttons
 */
$toolbar-scroller-bottom-margin: 4px 0 !default;

/**
 * @var {number/list}
 * The margin of "left" Toolbar scroller buttons
 */
$toolbar-scroller-left-margin: 0 4px !default;

/**
 * @var {string}
 * The cursor of Toolbar scroller buttons
 */
$toolbar-scroller-cursor: pointer !default;

/**
 * @var {string}
 * The cursor of disabled Toolbar scroller buttons
 */
$toolbar-scroller-cursor-disabled: default !default;

/**
 * @var {number}
 * The opacity of Toolbar scroller buttons. Only applicable when
 * {@link #$toolbar-classic-scrollers} is `false`.
 */
$toolbar-scroller-opacity: 0.6 !default;

/**
 * @var {number}
 * The opacity of hovered Toolbar scroller buttons. Only applicable when
 * {@link #$toolbar-classic-scrollers} is `false`.
 */
$toolbar-scroller-opacity-over: 0.8 !default;

/**
 * @var {number}
 * The opacity of pressed Toolbar scroller buttons. Only applicable when
 * {@link #$toolbar-classic-scrollers} is `false`.
 */
$toolbar-scroller-opacity-pressed: 1 !default;

/**
 * @var {number}
 * The opacity of disabled Toolbar scroller buttons.
 */
$toolbar-scroller-opacity-disabled: 0.25 !default;

/**
 * @var {boolean}
 * `true` to use classic-style scroller buttons.  When `true` scroller buttons are given their
 * hover state by changing their background-position,  When `false` scroller buttons are
 * given their hover state by applying opacity.
 */
$toolbar-classic-scrollers: false !default;

/**
 * @var {string}
 * The sprite to use for {@link Ext.panel.Tool Tools} on a Toolbar
 */
$toolbar-tool-background-image: 'none' !default;

/**
 * @var {boolean}
 * True to include the "default" toolbar UI
 */
$include-toolbar-default-ui: $include-default-uis !default;

/**
 * @var {boolean}
 * True to include the "footer" toolbar UI
 */
$include-toolbar-footer-ui: $include-default-uis !default;
