/*
 * Aplica estilo decline a botones
 */
@include extjs-button-small-ui(
	$ui: 'decline',
	$background-color: transparent,
	$background-color-over: transparent,
	$background-color-pressed: transparent,
	$color: $base-color
);
.x-btn-inner-decline-small:hover{
	text-decoration: underline;
}
