/** @class Ext.button.Button */
//

$button-default-base-color: #f8f8f8 !default;
$button-default-base-color-over: #f3f3f3 !default;
$button-default-base-color-focus: $button-default-base-color-over !default;
$button-default-base-color-pressed: #d6d6d6 !default;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #bbbbbb !default;
$button-default-border-color-over: #9d9d9d !default;
$button-default-border-color-focus: $button-default-border-color-over !default;
$button-default-border-color-pressed: $button-default-border-color-over !default;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-gradient: 'matte' !default;
$button-default-background-gradient-over: 'matte' !default;
$button-default-background-gradient-focus: 'matte' !default;
$button-default-background-gradient-pressed: 'matte-reverse' !default;
$button-default-background-gradient-disabled: 'matte' !default;

$button-toolbar-border-color-over: $button-default-border-color-over !default;
$button-toolbar-border-color-focus: $button-default-border-color-focus !default;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed !default;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled !default;

$button-toolbar-background-color-over: $button-default-base-color-over !default;
$button-toolbar-background-color-focus: $button-default-base-color-focus !default;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed !default;

$button-toolbar-background-gradient-over: $button-default-background-gradient-over !default;
$button-toolbar-background-gradient-focus: $button-default-background-gradient-focus !default;
$button-toolbar-background-gradient-pressed: $button-default-background-gradient-pressed !default;