.#{$prefix}border-layout-ct {
    overflow: hidden;
}

.#{$prefix}border-layout-ct {
    position: relative;
}

.#{$prefix}border-region-slide-in {
    z-index: 5;
}

.#{$prefix}region-collapsed-placeholder {
    z-index: 4;
}

