/** @class Ext.LoadMask */
//

//$loadmask-msg-border-color: $panel-header-border-color !default;
//$loadmask-msg-background-color: $panel-base-color !default;
// this is the same as $panel-border-color, but we have to duplicate it since LoadMask cannot depend on Panel
$loadmask-msg-inner-icon: 'grid/loading' !default;
$loadmask-msg-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 7.644%, $lightness: -8.627%) !default;
// this is the same as $panel-base-color, but we have to duplicate it since LoadMask cannot depend on Panel
$loadmask-msg-background-color: adjust-color($base-color, $hue: 0deg, $saturation: 0.542%, $lightness: 7.843%) !default;

$loadmask-msg-inner-font-size: ceil($font-size * .9) !default; //11px
$loadmask-msg-inner-border-color: adjust-color($base-color, $hue: 1.111deg, $saturation: -14.017%, $lightness: -9.608%) !default;