.#{$prefix}html-editor-tb .#{$prefix}btn-text {
    background: transparent no-repeat;
    background-image:theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-bold,
.#{$prefix}menu-item div.#{$prefix}edit-bold {
    background-position: 0 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-italic,
.#{$prefix}menu-item div.#{$prefix}edit-italic {
    background-position: (-$html-editor-toolbar-icon-size) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-underline,
.#{$prefix}menu-item div.#{$prefix}edit-underline {
    background-position: (-$html-editor-toolbar-icon-size * 2) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-forecolor,
.#{$prefix}menu-item div.#{$prefix}edit-forecolor {
    background-position: (-$html-editor-toolbar-icon-size * 10) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-backcolor,
.#{$prefix}menu-item div.#{$prefix}edit-backcolor {
    background-position: (-$html-editor-toolbar-icon-size * 11) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-justifyleft,
.#{$prefix}menu-item div.#{$prefix}edit-justifyleft {
    background-position: (-$html-editor-toolbar-icon-size * 7) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-justifycenter,
.#{$prefix}menu-item div.#{$prefix}edit-justifycenter {
    background-position: (-$html-editor-toolbar-icon-size * 8) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-justifyright,
.#{$prefix}menu-item div.#{$prefix}edit-justifyright {
    background-position: (-$html-editor-toolbar-icon-size * 9) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-insertorderedlist,
.#{$prefix}menu-item div.#{$prefix}edit-insertorderedlist {
    background-position: (-$html-editor-toolbar-icon-size * 5) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-insertunorderedlist,
.#{$prefix}menu-item div.#{$prefix}edit-insertunorderedlist {
    background-position: (-$html-editor-toolbar-icon-size * 6) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-increasefontsize,
.#{$prefix}menu-item div.#{$prefix}edit-increasefontsize {
    background-position: (-$html-editor-toolbar-icon-size * 3) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-decreasefontsize,
.#{$prefix}menu-item div.#{$prefix}edit-decreasefontsize {
    background-position: (-$html-editor-toolbar-icon-size * 4) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-sourceedit,
.#{$prefix}menu-item div.#{$prefix}edit-sourceedit {
    background-position: (-$html-editor-toolbar-icon-size * 12) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tb .#{$prefix}edit-createlink,
.#{$prefix}menu-item div.#{$prefix}edit-createlink {
    background-position: (-$html-editor-toolbar-icon-size * 13) 0;
    background-image: theme-background-image('editor/tb-sprite');
}

.#{$prefix}html-editor-tip .#{$prefix}tip-bd .#{$prefix}tip-bd-inner {
    padding: 5px;
    padding-bottom: 1px;
}

.#{$prefix}html-editor-tb .#{$prefix}font-select {
    font-size: $html-editor-font-select-font-size;
    font-family: $html-editor-font-select-font-family;
}

.#{$prefix}html-editor-wrap textarea {
    font: $form-field-font-weight $form-field-font-size $form-field-font-family;
    background-color: $html-editor-background-color;
    resize: none;
}