//$rating-picker-color: rgb(96, 169, 23) !default;
//$rating-picker-color: #FFE850 !default;
$rating-picker-color: #ccc !default;

$rating-picker-hover-color: $rating-picker-color !default;

//$rating-picker-selected-color: inherit !default;
$rating-picker-selected-color: #FFE850 !default;

$rating-picker-selected-hover-color: inherit !default;

$rating-picker-opacity: 0.8 !default;

$rating-picker-hover-opacity: 1 !default;
