.x-window-header-default-top {
	background: $base-color;
	.x-tool-img {
		background-color: transparent;
	}
}
.x-message-box .x-window-body {
	background: $body-color;
	color: $base-light-text;
}
.x-toolbar-footer {
	background: $base-color;
}