.x-window-default {
	.x-window-body-default {
		background: $body-color;
		color: $base-light-text;
		.x-window-item > div {
			background: $body-color;
			color: $base-light-text;
			.x-component-default {
				color: $base-light-text;
			}
			.fieldset-body-default {
				padding: 0 .1rem .25rem
			}
			.x-box-layout-ct {
				.x-btn-default-small {
					padding: 4.5px;
				}
			}
		}
	}
}
