/** @class Ext.picker.Date */
//

$datepicker-header-background-color: #6f6f6f !default;
$datepicker-border-color: #585858 !default;
$datepicker-column-header-background-color: #e9e9e9 !default;
$datepicker-item-selected-background-color: #d8d8d8 !default;
$datepicker-item-hover-background-color: transparent !default;