// This file makes use of rules defined in grid-field.scss
@import '../../grid-field.scss';

@if $include-button-grid-cell-ui {
    @include extjs-button-ui(
        $ui: 'grid-cell-small',

        $border-radius: $button-grid-cell-border-radius,
        $border-width: $button-grid-cell-border-width,

        $border-color: $button-grid-cell-border-color,
        $border-color-over: $button-grid-cell-border-color-over,
        $border-color-focus: $button-grid-cell-border-color-focus,
        $border-color-pressed: $button-grid-cell-border-color-pressed,
        $border-color-focus-over: $button-grid-cell-border-color-focus-over,
        $border-color-focus-pressed: $button-grid-cell-border-color-focus-pressed,
        $border-color-disabled: $button-grid-cell-border-color-disabled,

        $padding: $button-grid-cell-padding,
        $text-padding: $button-grid-cell-text-padding,

        $background-color: $button-grid-cell-background-color,
        $background-color-over: $button-grid-cell-background-color-over,
        $background-color-focus: $button-grid-cell-background-color-focus,
        $background-color-pressed: $button-grid-cell-background-color-pressed,
        $background-color-focus-over: $button-grid-cell-background-color-focus-over,
        $background-color-focus-pressed: $button-grid-cell-background-color-focus-pressed,
        $background-color-disabled: $button-grid-cell-background-color-disabled,

        $background-gradient: $button-grid-cell-background-gradient,
        $background-gradient-over: $button-grid-cell-background-gradient-over,
        $background-gradient-focus: $button-grid-cell-background-gradient-focus,
        $background-gradient-pressed: $button-grid-cell-background-gradient-pressed,
        $background-gradient-focus-over: $button-grid-cell-background-gradient-focus-over,
        $background-gradient-focus-pressed: $button-grid-cell-background-gradient-focus-pressed,
        $background-gradient-disabled: $button-grid-cell-background-gradient-disabled,

        $color: $button-grid-cell-color,
        $color-over: $button-grid-cell-color-over,
        $color-focus: $button-grid-cell-color-focus,
        $color-pressed: $button-grid-cell-color-pressed,
        $color-focus-over: $button-grid-cell-color-focus-over,
        $color-focus-pressed: $button-grid-cell-color-focus-pressed,
        $color-disabled: $button-grid-cell-color-disabled,

        $inner-border-width: $button-grid-cell-inner-border-width,
        $inner-border-width-over: $button-grid-cell-inner-border-width-over,
        $inner-border-width-focus: $button-grid-cell-inner-border-width-focus,
        $inner-border-width-pressed: $button-grid-cell-inner-border-width-pressed,
        $inner-border-width-focus-over: $button-grid-cell-inner-border-width-focus-over,
        $inner-border-width-focus-pressed: $button-grid-cell-inner-border-width-focus-pressed,
        $inner-border-width-disabled: $button-grid-cell-inner-border-width-disabled,

        $inner-border-color: $button-grid-cell-inner-border-color,
        $inner-border-color-over: $button-grid-cell-inner-border-color-over,
        $inner-border-color-focus: $button-grid-cell-inner-border-color-focus,
        $inner-border-color-pressed: $button-grid-cell-inner-border-color-pressed,
        $inner-border-color-focus-over: $button-grid-cell-inner-border-color-focus-over,
        $inner-border-color-focus-pressed: $button-grid-cell-inner-border-color-focus-pressed,
        $inner-border-color-disabled: $button-grid-cell-inner-border-color-disabled,

        $body-outline-width-focus: $button-grid-cell-body-outline-width-focus,
        $body-outline-style-focus: $button-grid-cell-body-outline-style-focus,
        $body-outline-color-focus: $button-grid-cell-body-outline-color-focus,

        $font-size: $button-grid-cell-font-size,
        $font-size-over: $button-grid-cell-font-size-over,
        $font-size-focus: $button-grid-cell-font-size-focus,
        $font-size-pressed: $button-grid-cell-font-size-pressed,
        $font-size-focus-over: $button-grid-cell-font-size-focus-over,
        $font-size-focus-pressed: $button-grid-cell-font-size-focus-pressed,
        $font-size-disabled: $button-grid-cell-font-size-disabled,

        $font-weight: $button-grid-cell-font-weight,
        $font-weight-over: $button-grid-cell-font-weight-over,
        $font-weight-focus: $button-grid-cell-font-weight-focus,
        $font-weight-pressed: $button-grid-cell-font-weight-pressed,
        $font-weight-focus-over: $button-grid-cell-font-weight-focus-over,
        $font-weight-focus-pressed: $button-grid-cell-font-weight-focus-pressed,
        $font-weight-disabled: $button-grid-cell-font-weight-disabled,

        $font-family: $button-grid-cell-font-family,
        $font-family-over: $button-grid-cell-font-family-over,
        $font-family-focus: $button-grid-cell-font-family-focus,
        $font-family-pressed: $button-grid-cell-font-family-pressed,
        $font-family-focus-over: $button-grid-cell-font-family-focus-over,
        $font-family-focus-pressed: $button-grid-cell-font-family-focus-pressed,
        $font-family-disabled: $button-grid-cell-font-family-disabled,

        $icon-size: $button-grid-cell-icon-size,
        $line-height: $button-grid-cell-line-height,
        $icon-spacing: $button-grid-cell-icon-spacing,
        $glyph-color: $button-grid-cell-glyph-color,
        $glyph-opacity: $button-grid-cell-glyph-opacity,
        $arrow-width: $button-grid-cell-arrow-width,
        $arrow-height: $button-grid-cell-arrow-height,
        $split-width: $button-grid-cell-split-width,
        $split-height: $button-grid-cell-split-height,
        $opacity-disabled: $button-opacity-disabled,
        $inner-opacity-disabled: $button-inner-opacity-disabled
    );
}