/**
 * @class Ext.window.Window
 */

/**
 * @var {color}
 * The base color of Windows
 */
$window-base-color: $base-color !default;

/**
 * @var {number}
 * The padding of Windows
 */
$window-padding: $panel-frame-padding !default;

/**
 * @var {number}
 * The border-radius of Windows
 */
$window-border-radius: $panel-frame-border-radius !default;

/**
 * @var {number}
 * The border-width of Windows
 */
$window-border-width: 1px !default;

/**
 * @var {color}
 * The border-color of Windows
 */
$window-border-color: $window-base-color !default;

/**
 * @var {color}
 * The inner border-color of Windows
 */
$window-inner-border-color: #fff !default;

/**
 * @var {number}
 * The inner border-width of Windows
 */
$window-inner-border-width: 0 !default;

/**
 * @var {color}
 * The background-color of Windows
 */
$window-background-color: #fff !default;

/**
 * @var {number}
 * The body border-width of Windows
 */
$window-body-border-width: 1px !default;

/**
 * @var {string}
 * The body border-style of Windows
 */
$window-body-border-style: solid !default;

/**
 * @var {color}
 * The body border-color of Windows
 */
$window-body-border-color: $window-base-color !default;

/**
 * @var {color}
 * The body background-color of Windows
 */
$window-body-background-color: #fff !default;

/**
 * @var {color}
 * The body text color of Windows
 */
$window-body-color: #000 !default;

/**
 * @var {number/list}
 * The padding of Window Headers
 */
$window-header-padding: $panel-frame-header-padding !default;

/**
 * @var {number}
 * The font-size of Window Headers
 */
$window-header-font-size: $panel-header-font-size !default;

/**
 * @var {number}
 * The line-height of Window Headers
 */
$window-header-line-height: $panel-header-line-height !default;

/**
 * @var {color}
 * The text color of Window Headers
 */
$window-header-color: $panel-header-color !default;

/**
 * @var {color}
 * The background-color of Window Headers
 */
$window-header-background-color: $window-base-color !default;

/**
 * @var {string}
 * The font-weight of Window Headers
 */
$window-header-font-weight: $panel-header-font-weight !default;

/**
 * @var {number}
 * The space between the Window {@link Ext.panel.Tool Tools}
 */
$window-tool-spacing: $panel-tool-spacing !default;

/**
 * @var {string}
 * The background sprite to use for Window {@link Ext.panel.Tool Tools}
 */
$window-tool-background-image: 'tools/tool-sprites' !default;

/**
 * @var {string}
 * The font-family of Window Headers
 */
$window-header-font-family: $panel-header-font-family !default;

/**
 * @var {number/list}
 * The padding of the Window Header's text element
 */
$window-header-text-padding: $panel-header-text-padding !default;

/**
 * @var {string}
 * The text-transform of Window Headers
 */
$window-header-text-transform: $panel-header-text-transform !default;

/**
 * @var {number}
 * The width of the Window Header icon
 */
$window-header-icon-width: $panel-header-icon-width !default;

/**
 * @var {number}
 * The height of the Window Header icon
 */
$window-header-icon-height: $panel-header-icon-height !default;

/**
 * @var {number}
 * The space between the Window Header icon and text
 */
$window-header-icon-spacing: $panel-header-icon-spacing !default;

/**
 * @var {list}
 * The background-position of  the Window Header icon
 */
$window-header-icon-background-position: $panel-header-icon-background-position !default;

/**
 * @var {color}
 * The color of the Window Header glyph icon
 */
$window-header-glyph-color: $window-header-color !default;

/**
 * @var {number}
 * The opacity of the Window Header glyph icon
 */
$window-header-glyph-opacity: $panel-header-glyph-opacity !default;

/**
 * @var {number}
 * The border-width of Window Headers
 */
$window-header-border-width: 1px !default;

/**
 * @var {color}
 * The inner border-color of Window Headers
 */
$window-header-inner-border-color: #fff !default;

/**
 * @var {number}
 * The inner border-width of Window Headers
 */
$window-header-inner-border-width: 0 !default;

/**
 * @var {boolean} $ui-force-header-border
 * True to force the window header to have a border on the side facing the window body.
 * Overrides dock layout's border management border removal rules.
 */
$window-force-header-border: true !default;

/**
 * @var {number}
 * The opacity of ghost Windows while dragging
 */
$window-ghost-opacity: $panel-ghost-opacity !default;

/**
 * @var {boolean}
 * True to include neptune style border management rules.
 */
$window-include-border-management-rules: false !default;

/**
 * @var {color}
 * The color to apply to the border that wraps the body and docked items. The presence of
 * the wrap border is controlled by the {@link #border} config. Only applicable when
 * `$window-include-border-management-rules` is `true`.
 */
$window-wrap-border-color: $window-border-color !default;

/**
 * @var {number}
 * The width to apply to the border that wraps the body and docked items. The presence of
 * the wrap border is controlled by the {@link #border} config. Only applicable when
 * `$window-include-border-management-rules` is `true`.
 */
$window-wrap-border-width: 1px !default;

/**
 * @var {boolean}
 * True to include the "default" window UI
 */
$include-window-default-ui: $include-default-uis !default;

/**
 * @var {boolean}
 * True to ignore the frame padding.  By default, the frame mixin adds extra padding when
 * border radius is larger than border width.  This is intended to prevent the content
 * from colliding with the rounded corners of the frame.  Set this to true to prevent
 * the window frame from adding this extra padding.
 */
$window-ignore-frame-padding: false !default;

/**
 * @var {number}
 * The default font-size of the Window body
 */
$window-body-font-size: $panel-body-font-size !default;

/**
 * @var {string}
 * The default font-weight of the Window body
 */
$window-body-font-weight: $panel-body-font-weight !default;

/**
 * @var {string}
 * The default font-family of the Window body
 */
$window-body-font-family: $panel-body-font-family !default;
