/** @class Ext.form.field.Trigger */
//

$form-trigger-width: 17px !default;
$form-trigger-border-width: 0 0 1px !default;
$form-trigger-border-color-focus: $form-field-focus-border-color !default;
$form-trigger-border-color-over: $form-trigger-border-color-focus !default;
$form-trigger-background-color: transparent !default;