.x-form-trigger-wrap {
	padding: 1px 2px 2px 0px;
	border-width: 1px;
  border-radius: 0;
  border-style: solid;
  border-color: $base-color;
  background-color: $base-dark-color;
	color: $base-light-text;
	.x-form-text, .x-form-trigger-default {
		border-radius: $border-radius-md;
		background-color: transparent;
		color: $base-light-text;
		height: auto;
		.x-form-spinner-default {
			border-radius: $border-radius-md;
			background-color: $body-color;
			color: $base-light-text;
		}
	}
}
.x-form-item-label-default {
	color: $base-light-text;
}
