/*
 * Define UI for fields which are rendered to fit inside grid cells.
 * This includes cell and row editor fields and fields in widget columns.
 */
@if not $grid-cell-field-src-included {
    $grid-cell-field-src-included: true;

    @if $include-text-field-grid-ui and $include-ext-form-field-text {

        @include extjs-text-field-ui(
            $ui: 'grid-cell',
            $ui-height: $grid-cell-text-field-height,
            $ui-font-size: $grid-cell-text-field-font-size,
            $ui-font-family: $grid-cell-text-field-font-family,
            $ui-font-weight: $grid-cell-text-field-font-weight,
            $ui-color: $grid-cell-text-field-color,
            $ui-background-color: $grid-cell-text-field-background-color,
            $ui-border-width: $grid-cell-text-field-border-width,
            $ui-border-style: $grid-cell-text-field-border-style,
            $ui-border-color: $grid-cell-text-field-border-color,
            $ui-focus-border-color: $grid-cell-text-field-focus-border-color,
            $ui-invalid-border-color: $grid-cell-text-field-invalid-border-color,
            $ui-border-radius: $grid-cell-text-field-border-radius,
            $ui-background-image: $grid-cell-text-field-background-image,
            $ui-padding: $grid-cell-text-field-padding,
            $ui-empty-color: $grid-cell-text-field-empty-color,
            $ui-body-width: $grid-cell-text-field-body-width,

            $ui-invalid-background-color: $grid-cell-text-field-invalid-background-color,
            $ui-invalid-background-image: $grid-cell-text-field-invalid-background-image,
            $ui-invalid-background-repeat: $grid-cell-text-field-invalid-background-repeat,
            $ui-invalid-background-position: $grid-cell-text-field-invalid-background-position,

            $ui-trigger-width: $grid-cell-field-trigger-width,
            $ui-trigger-border-width: $grid-cell-field-trigger-border-width,
            $ui-trigger-border-color: $grid-cell-field-trigger-border-color,
            $ui-trigger-border-style: $grid-cell-field-trigger-border-style,

            $ui-trigger-border-color-over: null,
            $ui-trigger-border-color-focus: null,
            $ui-trigger-border-color-pressed: null,

            $ui-trigger-background-image: $grid-cell-field-trigger-background-image,
            $ui-trigger-background-color: $grid-cell-field-trigger-background-color,

            $ui-textarea-line-height: $grid-cell-textarea-line-height,
            $ui-textarea-body-height: $grid-cell-textarea-body-height,
            $ui-file-field-color: $grid-cell-file-field-color,

            $ui-classic-border: $grid-cell-text-field-classic-border
        );
    }

    @if $include-spinner-trigger-grid-ui and $include-ext-form-field-spinner {
        @include extjs-spinner-trigger-ui(
            $ui: 'grid-cell',
            $ui-trigger-vertical: $grid-cell-spinner-trigger-vertical,
            $ui-trigger-width: $grid-cell-field-trigger-width,
            $ui-field-height: $grid-cell-text-field-height,
            $ui-field-border-width: $grid-cell-text-field-border-width,
            $ui-trigger-vertical-background-image: $grid-cell-spinner-trigger-vertical-background-image,
            $ui-trigger-up-background-image: $grid-cell-spinner-trigger-up-background-image,
            $ui-trigger-down-background-image: $grid-cell-spinner-trigger-down-background-image,
            $ui-trigger-background-color: $grid-cell-text-field-background-color,
            $ui-classic-border: $grid-cell-text-field-classic-border
        );
    }

    @if $include-checkbox-grid-ui and $include-ext-form-field-checkbox {
        @include extjs-checkbox-ui(
            $ui: 'grid-cell',
            $ui-field-height: $grid-cell-field-height,
            $ui-checkbox-size: $grid-cell-checkbox-size,
            $ui-checkbox-background-image: $grid-cell-checkbox-background-image,
            $ui-radio-background-image: $grid-cell-radio-background-image
        );
    }
}