//Neptune cells
$grid-cell-inner-padding: 5px 10px 4px !default;
$grid-row-cell-border-color: #ededed !default;
$grid-row-cell-background-color: #fff !default;
$grid-row-cell-font-size: $font-size !default;

$grid-row-cell-focus-border-style: solid !default;

// special cells
$grid-cell-special-background-color: 'none' !default;
$grid-cell-special-background-gradient: 'none' !default;
$grid-cell-special-border-width: 1px !default;

//row cell over
$grid-row-cell-over-background-color: mix(#fff, $base-light-color, 65%) !default;
$grid-row-cell-over-border-color: $grid-row-cell-over-background-color !default;

//row cell selected
$grid-row-cell-selected-background-color: mix(#fff, $base-light-color, 25%) !default;
$grid-row-cell-selected-border-color: $grid-row-cell-selected-background-color !default;

$grid-row-cell-focus-border-color: mix(#ddd, $base-color, 20%) !default;
