.#{$prefix}accordion-hd {
    @include single-box-shadow($accordion-header-background-color, 0, 0, 0, 0, true);
}
.#{$prefix}accordion-hd-sibling-expanded {
    @include single-box-shadow($panel-header-inner-border-color, 0, 1px, 0, 0, true);
}