@if $include-panel-light-ui {
    @include extjs-panel-ui(
        $ui: 'light',

        $ui-border-color: $panel-light-border-color,
        $ui-body-border-color: $panel-light-body-border-color,
        $ui-header-border-color: $panel-light-header-border-color,
        $ui-header-font-family: $panel-light-header-font-family,
        $ui-header-font-size: $panel-light-header-font-size,
        $ui-header-font-weight: $panel-light-header-font-weight,
        $ui-header-color: $panel-light-header-color,
        $ui-header-background-color: $panel-light-header-background-color,
        $ui-header-text-transform: $panel-light-header-text-transform,
        $ui-tool-background-image: $panel-light-tool-background-image
    );
}


@if $include-panel-light-framed-ui {
    @include extjs-panel-ui(
        $ui: 'light-framed',

        $ui-border-color: $panel-light-frame-border-color,
        $ui-border-width: $panel-frame-border-width,
        $ui-border-radius: $panel-frame-border-radius,
        $ui-padding: $panel-frame-padding,

        $ui-header-font-family: $panel-light-header-font-family,
        $ui-header-font-size: $panel-light-header-font-size,
        $ui-header-font-weight: $panel-light-header-font-weight,
        $ui-header-color: $panel-light-header-color,
        $ui-header-background-color: $panel-light-header-background-color,
        $ui-header-text-transform: $panel-light-header-text-transform,

        $ui-header-border-color: $panel-light-frame-border-color,
        $ui-header-border-width: $panel-frame-header-border-width,
        $ui-header-padding: $panel-frame-header-padding,

        $ui-tool-background-image: $panel-light-tool-background-image,

        $ui-body-border-width: $panel-frame-body-border-width,
        $ui-body-border-color: $panel-light-body-border-color,
        $ui-body-background-color: $panel-frame-background-color
    );
}
