.#{$prefix}column-header-trigger {
    background-color: $grid-header-background-color;
    background-image: theme-background-image('grid/grid3-hd-btn');
}

// Classic theme uses different left.right menu trigger images.
@if $include-rtl {
    .#{$prefix}rtl.#{$prefix}column-header-trigger {
        background-image: theme-background-image('grid/grid3-hd-btn-left');
    }
}
