/** @class Ext.panel.Panel */
//

$panel-base-color: adjust-color($base-color, $hue: 0deg, $saturation: 0.542%, $lightness: 7.843%) !default; //#DFE8F6
$panel-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 7.644%, $lightness: -8.627%) !default;
$panel-header-border-color: $panel-border-color !default;
$panel-header-font-size: ceil($font-size * .9) !default; //11px
$panel-header-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 38.347%, $lightness: -63.725%) !default;
$panel-header-line-height: 15px !default;
$panel-header-padding: 5px !default;
$panel-header-text-padding: 0 2px 1px !default;
$panel-header-background-gradient: 'panel-header' !default;
$panel-header-inner-border-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: -6.098%, $lightness: 4.902%) !default;
$panel-header-inner-border-width: 1px 0 0 !default;
$panel-header-background-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 6.402%, $lightness: -4.51%) !default;
$panel-frame-header-inner-border-color: $panel-header-inner-border-color;
$panel-frame-header-inner-border-width: 1px 1px 0 !default;
$panel-ghost-opacity: 0.65 !default;
$panel-frame-base-color: $panel-base-color !default;
$panel-frame-background-color: $panel-frame-base-color !default;
$panel-frame-body-border-width: 0 !default;
$panel-tool-spacing: 2px !default;
$panel-header-icon-spacing: 2px !default;
