/** @class Ext.tab.Tab */
//

$tab-base-color: #eaeaea !default;
$tab-base-color-disabled: #eeeeee !default;

$tab-color-active: #333333 !default;
$tab-color-disabled: #b7b7b7 !default;

$tab-border-color-disabled: #dadada !default;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea) !default;
$tab-background-gradient-over: color-stops(#ffffff, #f0f0f0) !default;
$tab-background-gradient-active: color-stops(#ffffff, #eaeaea) !default;
$tab-background-gradient-disabled: color-stops(#eeeeee, #f4f4f4) !default;
