$grid-column-header-color: #fff !default;

$grid-column-header-focus-color: #000 !default;
$grid-column-header-focus-background-color: $orange !default;

$grid-column-header-focus-border-width: 0px !default;
