$grid-cell-selected-color: black !default;
$grid-cell-selected-background-color: $orange !default;

$grid-row-cell-over-background-color: #7e55ef !default;

$grid-row-cell-focus-border-width: 0 !default;
