// classic cells
$grid-row-cell-font-size: ceil($font-size * .9) !default;
$grid-cell-inner-padding: 3px 6px 4px !default;

$grid-row-cell-border-color: #ededed
    adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: -2.549%) !default;

// special cells
$grid-cell-special-background-color: #f6f6f6 !default;
$grid-cell-special-background-gradient: 'grid-cell-special' !default;
$grid-cell-special-selected-border-color: adjust-color($base-color, $hue: -0.175deg, $saturation: 25.296%, $lightness: -2.549%) !default;
$grid-cell-special-over-background-color: adjust-color($base-color, $hue: -0.476deg, $saturation: 25.214%, $lightness: 5.686%) !default;

$grid-cell-selected-background-color: #B8CFEE !default;

$grid-row-cell-over-border-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -6.667%) !default;
$grid-row-cell-over-background-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: 0.392%) !default;

$grid-row-cell-selected-border-style: dotted !default;
$grid-row-cell-selected-border-color: adjust-color($base-color, $hue: 6.952deg, $saturation: 5.848%, $lightness: -6.471%) !default;
$grid-row-cell-selected-background-color: adjust-color($base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%) !default;

$grid-row-cell-focus-border-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -66%) !default;

$grid-no-row-lines-show-focus-border: true !default;