// Must always be on top
// Pointer events go through so that mousemove fires on the element being dragged *over*
.#{$prefix}dd-drag-proxy, // StatusProxy
.#{$prefix}dd-drag-current { // DragDropManager
    z-index: 1000000!important;
    pointer-events: none;
}