/** @class Ext.slider.Multi */
//

$horizontal-slider-thumb-width: 14px !default;
$vertical-slider-thumb-height: 14px !default;

$slider-outline-width-focus: 1px !default;
$slider-outline-style-focus: dotted !default;
$slider-outline-color-focus: #333 !default;
