/**
 * @class Ext.resizer.Splitter
 */

/**
 * @var {number}
 * The size of the Splitter
 */
$splitter-size: 5px !default;

/**
 * @var {color}
 * The background-color of the active Splitter (the Splitter currently being dragged)
 */
$splitter-active-background-color: #b4b4b4 !default;

/**
 * @var {number}
 * The opacity of the active Splitter (the Splitter currently being dragged)
 */
$splitter-active-opacity: .8 !default;

/**
 * @var {number}
 * The opacity of the collapse tool on the active Splitter (the Splitter currently being dragged)
 */
$splitter-active-collapse-tool-opacity: .3 !default;

/**
 * @var {color}
 * The color of the outline around the splitter when it is focused
 */
$splitter-focus-outline-color: $base-color !default;

/**
 * @var {string}
 * The outline-style of the splitter when it is focused
 */
$splitter-focus-outline-style: solid !default;

/**
 * @var {number}
 * The outline-width of the splitter when it is focused
 */
$splitter-focus-outline-width: 1px !default;

/**
 * @var {number}
 * The outline-offset of the splitter when it is focused
 */
$splitter-focus-outline-offset: -$splitter-focus-outline-width !default;

/**
 * @var {string}
 * The the type of cursor to display when the cursor is over the collapse tool
 */
$collapse-tool-cursor: pointer !default;

/**
 * @var {number}
 * The size of the collapse tool. This becomes the width of the collapse tool for
 * horizontal splitters, and the height for vertical splitters.
 */
$collapse-tool-size: 35px !default;

/**
 * @var {number}
 * The opacity of the collapse tool.
 */
$collapse-tool-opacity: 1 !default;
