/**
 * Includes a google webfont for use in your theme.
 * @param {string} $font-name The name of the font.  If the font name contains spaces
 * use "+" instead of space.
 * @param {string} [$font-weights=400] Comma-separated list of font weights to include.
 *
 * Example usage:
 *
 *     @include google-webfont(
 *         $font-name: Exo,
 *         $font-weights: 200 300 400
 *     );
 *
 * Outputs:
 *
 *     @import url(http://fonts.googleapis.com/css?family=Exo:200,300,400);
 *
 * @member Global_CSS
 */
@mixin google-webfont(
    $font-name,
    $font-weights: 400
) {
    @import url('http://fonts.googleapis.com/css?family=#{$font-name}:#{$font-weights}');
}