.#{$prefix}mask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /*
     * IE and FF will add an outline to focused elements,
     * which we don't want when using our own focus treatment
     */
    outline: none !important;
}

/*
 * IE8 will treat partially transparent divs as invalid click targets,
 * allowing mouse events to reach elements beneath the mask. Placing
 * a 1x1 transparent gif as the link el background will cure this.
 */
.#{$prefix}ie8 .#{$prefix}mask {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

// The mask is given position: fixed when called on the body.
// See Element.mask() and EXTJSIV-10726.
.#{$prefix}mask-fixed {
    position: fixed;
}

.#{$prefix}mask-msg {
    position: absolute;
}
